* {
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern","liga";
}

body {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 50px;
  color: #000000cc;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #000000cc;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 0 3rem;
}

.component {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 50px;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.card-banner img {
  width: 80%;
}

.card-desc {
  width: 60%;
  padding-left: 3rem;
  text-align: initial;
  color: #585858;
}

.card-desc p {
  margin: 1.5rem 0;
}

.card-desc .buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.card-desc.bad-browser {
  width: 100%;
  padding: 0;
  text-align: center;
}

.card-desc.bad-browser img {
  width: 50%;
}

.btn {
  width: fit-content;
  padding: 1rem 1.5rem;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition-duration: 0.3s;
}

.btn.primary {
  color: #fff;
  background-color: #49c74a;
  border: none;
}

.btn.primary:hover {
  background-color: #3a9c3a;
}

.btn.alert {
  color: #fff;
  background-color: #ff930e;
  border: none;
}

.btn.alert:hover {
  background-color: #cf7b15;
}

.btn.secondary {
  color: #6b6b6b;
  background-color: #fff;
  border: none;
}

.btn.secondary:hover {
  background-color: #eee;
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-banner {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .card-desc {
    width: 100%;
    padding: 1rem 0 0 0;
  }
}

@media (max-width: 480px) {
  #app {
    padding: 0.75rem 1rem;
  }
  .component {
    padding: 1.5rem;
  }
}