#back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 16px;
  color: #6b6b6b;
  background: url(../back.svg) no-repeat center left;
  background-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#back:hover {
  background-color: #f0f0f0;
}

#back:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

/* Connecting section */

#connection-spinner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#arrow-1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 558px;
  height: 100px;
}

#arrow-2 {
  position: absolute;
  top: 427px;
  left: 400px;
  height: 100px;
}

.svg-container {
  width: 36px;
  margin-right: 0.4rem;
}

/* Error section */

#error h2, #error p {
  font-weight: 400;
  margin: 0.5rem 0;
}

#error div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  background-color: #ff930e4d;
  border: 2px solid #ff930eb3;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

#error div svg {
  position: relative;
  top: 3px;
  height: 1.5rem;
}

/* Connected section */

#connected-serial {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 0px rgba(34, 60, 80, 0.2);
}

#connected-serial .card-banner, #connected-serial .card-desc {
  width: 50%;
}

#outdated .btn {
  margin: 0.5rem 0;
}

.alternative {
  font-size: 80%;
  margin-top: 1.5rem;
  color: #686868;
}

.alternative input {
  margin-left: 0.75rem
}