* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "kern", "liga";
}

body {
  font-size: 16px;
}

h3 {
  font-size: 2.75rem;
}
h4 {
  margin: 2rem 0;
}
h5 {
  margin: 1.5rem 0;
}

a {
	color: $link;
	text-decoration: none;
	cursor: pointer;
  transition-duration: 0.3s;
	&:hover {
    text-decoration: underline;
	}
}

pre {
  font-family: inherit;
}

code {
  font-size: 14px;
  line-height: 1.8rem;
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  .q-icon {
    position: relative;
    top: -1px;
    padding: 1px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.3s;
    &:hover {
      color: $positive;
    }
  }
}

#header {
  padding: 0.65rem 0;
  max-width: 1200px;
  .q-focus-helper {
    display: none;
  }
  a {
    padding-right: 1rem;
    font-size: 18px;
    color: $accent;
  }
}

.mobile-menu {
  padding-bottom: 0.5rem;
  p {
    margin: 0.75rem 0;
    a {
      padding: 0 4rem;
      color: $accent;
    }
  }
}

.q-card {
  border-radius: 10px;
}

.popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000b3;
  backdrop-filter: blur(10px);
  z-index: 2001;
}