#terminal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
}

.xterm {
  height: 100vh !important;
  padding-left: 10px;
  .xterm-viewport {
    width: 100vw !important;
    overflow-y: hidden;
  }
}
