#updater-container {
  min-height: 350px;
}

.popup-overlay a {
  color: $accent;
}

.flipper img {
  max-width: 280px;
}

#arrow-1 {
  display: flex;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 558px;
  height: 100px;
  font-size: 120%;
  color: #fff;
  z-index: 2002;
  .q-icon {
    font-size: 2rem;
  }
}

#arrow-2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 427px;
  left: 400px;
  height: 100px;
  font-size: 120%;
  color: #fff;
  z-index: 2002;
  .q-icon {
    font-size: 2rem;
  }
}

#error {
  width: 250px;
  .q-icon {
    position: relative;
    top: -2px;
    font-size: 1.5rem;
  }
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: $link;
    }
  }
}

.connected {
  img {
    max-width: 280px;
  }
  .alert {
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 0.3rem 3rem;
    background-color: $accent-light;
    border: 2px solid $accent;
    border-radius: 5px;
    ul {
      text-align: left;
    }
    svg {
      font-size: 20px;
      margin-top: -2px;
    }
  }
}

#up-to-date, #outdated {
  p:first-of-type {
    font-size: 120%;
  }
  p:last-of-type {
    color: $dark-secondary;
  }
}

input[type=file] {
  width: 215px;
}

#reconnect {
  margin-top: 1rem;
  color: $dark-secondary;
  svg {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }
}

.fw-option-label {
  width: fit-content;
  padding: 0.2rem 0.4rem;
  color: #fff;
  border-radius: 5px;
  &.release {
    background-color: $positive;
  }
  &.rc {
    background-color: $accent;
  }
  &.dev {
    background-color: $negative;
  }
}