table {
  margin-top: 1.5rem;
  min-width: 688px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #0000000d;
}

td {
  min-width: 55px;
  padding: 0.3rem;
  font-size: 12px;
}

td.nowrap {
  white-space: nowrap;
}

td a:hover {
  background-color: #828cff26;
}

.popup-overlay, .popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-overlay {
  background: #000000b3;
  backdrop-filter: blur(10px);
  z-index: 3;
}

.popup {
  max-width: calc(100vw - 4rem);
  padding: 1rem;
  border-radius: 10px;
  background: #fff;
  z-index: 4;
}

.popup button {
  height: 36px;
  float: right;
  padding-top: 4px;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background: #0000001a;
}

.popup h3 {
  margin-top: 0.5rem;
}

.popup > div {
  max-height: 60vh;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  background: #0000001a;
  border-radius: 5px;
}

.popup pre {
  margin: 0;
  padding: 1rem;
}

@media (max-width: 480px) {
  .popup {
    max-width: calc(100vw - 3rem);
    padding: 0.5rem;
  }

  .popup pre {
    font-size: 12px;
  }
}