#dfu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Connecting section */

#connection-spinner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#arrow-1 {
  display: flex;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 558px;
  height: 100px;
  font-size: 120%;
  color: #fff;
  z-index: 3;
}

#arrow-2 {
  position: fixed;
  top: 427px;
  left: 400px;
  height: 100px;
  font-size: 120%;
  color: #fff;
  z-index: 3;
}

.svg-container {
  width: 53px;
}

progress {
  width: 280px;
}

/* Error section */
#error {
  text-align: center;
}

#error h2, #error p {
  font-weight: 400;
  margin: 0.5rem 0;
}

#error div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  background-color: #ff930e4d;
  border: 2px solid #ff930eb3;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

#error div svg {
  position: relative;
  top: 3px;
  height: 1.5rem;
}

div.alert {
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  border: 2px solid #ff930eb3;
  border-radius: 5px;
}

/* Connected section */

#connected-serial {
  text-align: center;
  margin-bottom: 1.5rem;
}

#connected-serial .card-banner, #connected-serial .card-desc {
  width: 50%;
}

#outdated .btn {
  margin: 0.5rem 0;
}

.alternative {
  font-size: 80%;
  margin: 1.5rem 0 0 4rem;
  color: #686868;
}

.alternative input {
  margin-left: 0.75rem;
  border-radius: 3px;
}

#reconnect {
  width: 100%;
}

#reconnect button{
  position: relative;
  top: 0.5rem;
  left: -0.5rem;
  float: left;
  padding: 0.3rem 0.7rem 0.5rem 0.7rem;
  text-transform: none;
}

#reconnect svg {
  position: relative;
  top: 3px;
}

#ok {
  margin: 5rem 0;
}

/* Responsive */

@media (max-width: 768px) {
  #connected-serial .card {
    align-items: center;
  }

  #connected-serial .card-banner, #connected-serial .card-desc {
    width: 100%;
  }

  #connected-serial .card-banner img {
    width: 70%;
  }
}